
.phone{
    width: 220px;
    background-color: #3C4245;
    margin-right: 5%;
    height: 378px;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    box-shadow: 2px 2px 4px black;

}

.screen{
    height: 100%;
    width: 100%;
    background-color: #DFCDC3;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.content{
    width: 12rem;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: space-evenly;

}

.camera{

    margin-top:1%;
    border: 1px solid black;
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #3C4245;
    position: relative;

   
}
img.profile-img{
aspect-ratio: 1/1.2;
max-height: 200px;
border-radius: 50%;
}

.contact-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

svg{
    color: black;
    height: 25px;
    width: 25px;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    margin-right: 5%;
}

.name{
    width: 100%;
}

svg:hover{
    cursor: pointer;
}

svg:active{
    box-shadow: none;
    border: #353534 1px solid;
}



@media screen {
    
}