html{
  color-scheme: light dark;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, #root, .App{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  
}


.App{
  overflow-y: auto;
  justify-content: center;
}

body{
  margin: 0;
}


/* header */

header {
  height: 80px;
  padding-inline: 4%;
  top: 0;
  left: 0;
  z-index: 20;
  backdrop-filter: blur(5px);
}
.mode {
  width: 40%;
  display: flex;
}
  .ul-head {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }

  .li-head {
    list-style-type: none;
    width: 30%;
    text-align: center;
    text-decoration: none;
  }
  
  .li-head:hover{
    text-decoration: underline;
    font-weight: 800;
  }

header,footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
}

.nav-head {
  width: 60%;
}

a{
  color: blue
}

label {
  width: 64px;
  height: 34px;
  background-color: black;
  border-radius: 25px;
  position: relative;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 253, 253);
  position: absolute;
  top: 0;
  left: 0;
  margin: 2px;
  border-radius: 50%;
  animation: toggleOff 0.4s linear forwards;
}

input {
  display: none;
}

input:checked + label {
  background-color: gray;
}

input:checked + label .circle {
  animation: toggleOn 0.4s linear forwards;
}
@keyframes toggleOn {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(30px);
  }
}

@keyframes toggleOff {
  0% {
    transform: translate(30px);
  }
  100% {
    transform: translate(0px);
  }
}

.references{
  display: flex;
  width:100%
}

button{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 7rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #DFCDC3;
  border-radius: 0.7rem;
  box-shadow: 1px 1px 2px hsl(0, 0%, 0%, 0.6);
}

button:hover{
  cursor: pointer;
  box-shadow: none;
  background-color: hsl(21, 51%, 76%);
}
footer{
  height: 30px;
  padding-inline: 4%;
  bottom: 0;
  left: 0;
}


.container{
  position: absolute;
  top:90px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-inline: 10%;
  padding: 3%;
  background-color: hsla(0, 20%, 99%, 0.5);
  border-radius: 5%;
  box-shadow: 2px 2px 18px hsl(0, 0%, 0%, 0.5);
}

.info{
  background-color: #DFCDC3;
  padding: 10%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 60%;
  flex-grow: 1;

}

.project-title{
  margin: 0;
  font-size: 1.8rem;
}


.link-head{
  font-size: 1.6rem;
}
/* Smartphones */
@media only screen and (max-width: 720px) {
  header{
    width: 100%;
  }
  .mode {
    width: auto;
    justify-content: center;
  }

  .project-title{
    font-size: 1.2rem;
  }
.references{
  width: 100%;
  display: flex;
  flex-direction: column;
}
  button{
    visibility: hidden;
  }

  svg{
    visibility: visible;
  }
  .nav-head {
    width: 100%;
  }
 
  .ul-head {
   margin-left: 4rem;
   justify-content: end;
  }
  
  .li-head {
    width: auto;
    margin-inline: 1rem;
  }

  body, #root, .App {
    align-items: flex-start; 
    min-height: 100vh;
  }
 .container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 80%;
  position: absolute;
 }

 .screen{
  border-radius: 15px;
  height: 100%;
  background-color: #ffffff00;
 }

 .phone{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff00;
  height: 100%;
  width: 90%;
  padding: 5px;
  box-shadow: none;
  margin: 0;
}
img.profile-img{
  box-shadow: 2px 2px 2px hsl(0, 0%, 0%, 0.6);
}
div.info{
  background: border-box;
  width: 90%;
  height: auto;
  padding: 0;
}
.phone-btn{
  display: none;
}

.camera{
  visibility: hidden;
}
.img{
  height: 80%;
  width: 90%;
}
img.cv {
  width: 100%;
  margin-bottom: 5%
}
.contact-box{
  margin-top: 2%;
}
}

/* Small tablets and large smartphones */
@media only screen and (min-width: 719px) and (max-width: 1080px) {
  .container{
    width:95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow-x: auto;
  }

  .info{
    width: 100%;
    text-align: center;
    background-color: none;
    height: auto;
    border-radius: 5%;
    margin-top: 2rem;
    
  }
  .container {
    width: 95%;
    overflow-x: auto;
  }

  .phone {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: 0;
   
  }

  .screen {
    margin-bottom: 0;
    padding-inline: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  .contact-box{
  justify-content: space-evenly;
  }

  .phone-btn {
    width: 10%;
    height: 10%;
    margin-left: 1%;
  }
  .camera{
    height: 16px;
    margin-left: 5px;
  } 
  .content{
    width: 100%;
    display: grid;
    justify-content: center;

}
  .profile-img{
    height: 170px;
    
  }

  
  
}



 




