
 html{
  color-scheme: light dark;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}



body, #root, .App{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

body{
  padding-inline: 2rem;
  margin-top: 10vh;
 
}


.App{
  overflow-y: auto;
  justify-content: center;
}

main{
  padding-inline: 5rem;
}
/* header */

header {
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.block_switcher {
  width: 110px;
  height: 50px; 
  border: .2rem solid #fff7f7;
  border-radius: 50px;
  margin-top: 0;
   margin-left: 0;}
  

.projects_btn{
  width: 20%;
  height: 50px;
  border: 2px solid #ffffff;
  color:#ffffff;
  background: transparent;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.mode {
  width: 40%;
  display: flex;
}
  .ul-head {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }

  .li-head {
    list-style-type: none;
    width: 30%;
    text-align: center;
    text-decoration: none;
  }
  
  .li-head:hover{
    text-decoration: underline;
    font-weight: 600;
    scale: 1.1;
    transition: 500ms;
  }


.nav-head {
  width: 60%;
}

.li-links a{
  color: #4eb814
}

label {
  width: 64px;
  height: 34px;
  background-color: black;
  border-radius: 25px;
  position: relative;
}


.text-block {
  color: #fff;
  text-transform: uppercase;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  font-size: 30px; 
  line-height: 23px;
}
  
  .image {
  text-align: left;
  position: absolute;
  bottom: -3.8889px;
  z-index: 20; 
  left: 1px; }
  
  
.references{
  display: flex;
  width:100%;
  margin-top: 2rem;
}

.logo-content-btn{
  height: 25px;
  width: 25px;
}



.container{
  margin-top: 6vh;
  max-height: 93vh;
  box-sizing: border-box;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info{
position: relative;
width: 60%;
display: flex;
margin-left: 25%;
flex-direction: column;

}

.project-title{
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.li-links{
  list-style-type: none;
  margin-left: 4rem;
}


.link-head{
  font-size: 1.6rem;
}

.link-head:hover{
  font-weight: 500;
}
/* Smartphones */


@media only screen and (max-width: 720px) {

  main{
    padding-inline: 0;
  }
  
  .mode {
    width: auto;
    justify-content: center;
  }

  .project-title{
    font-size: 1.2rem;
  }
.references{
  width: 100%;
  display: flex;
  flex-direction: column;
}
  

  svg{
    visibility: visible;
  }
  .nav-head {
    width: 100%;
  }
 
  .ul-head {
   margin-left: 4rem;
   justify-content: end;
  }
  
  .li-head {
    width: auto;
    margin-inline: 1rem;
  }

  body, #root, .App {
    align-items: flex-start; 
    min-height: 100vh;
    box-sizing: border-box;

  }
 

 .project-description{
  width: 95%;
  margin:2rem;
}

.links{
  margin: 0;
}
hr{
  visibility: hidden;
}
.references{
  margin-top: 0rem;
}


 .screen{
  border-radius: 15px;
  height: 100%;
  background-color: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .phone{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff00;
  height: 100%;
  width: 90%;
  padding: 5px;
  box-shadow: none;
  margin: 0;
}

.info{
  background: border-box;
  margin: 0;
  width: 90%;
  height: auto;
  padding: 0;
  padding-top: 4rem;

}

.phone-btn{
  display: none;
}

.camera{
  visibility: hidden;
}
.img{
  height: 80%;
  width: 90%;
}
img.cv {
  width: 100%;
  margin-bottom: 5%
}
.contact-box{
  margin-top: 2%;
}

.image{
  width: 60%;
}
.project-description{
  margin-inline: 0;
}

}

@media (max-width:468) {
 .technologies{
  width: 100%;
  margin: 0rem;
 }
 .references{
  display: block;
 }
}

/* //mobile landscape */

@media only screen and (min-width: 468px) and (max-width: 767px){
  .image{
    width: 50%;
  }
}


/* Small tablets and large smartphones */
@media only screen and (min-width: 767px) and (max-width: 991px) {
   .image{
    width:50%;
  }
  .container{
    width:95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow-x: auto;
  }

  .info{
    width: 100%;
    text-align: center;
    background-color: none;
    height: auto;
    border-radius: 5%;
    margin-top: 2rem;
    margin-left: 0;
    
  }
  
  .phone {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: 0;
   
  }

  .screen {
    margin-bottom: 0;
    padding-inline: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  .contact-box{
  justify-content: space-evenly;
  }

  .phone-btn {
    width: 10%;
    height: 10%;
    margin-left: 1%;
  }
  .camera{
    height: 16px;
    margin-left: 5px;
  } 
  .content{
    width: 100%;
    display: grid;
    justify-content: center;

}


  
  
} 



 




